h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a[href]{
    text-decoration: none;
}
a[target="_blank"]{
    color: green;
}

div[class~="jhon"]{  /* selected if there is exact match and if there is any space before and after the word */
    background-color: black;
    color: white;
}

 section[class|="flower"]{   /* only exact word and word followed by hyphen */
    background-color: blueviolet;
    color: red;
}

div[id^="ram"]{         /*selected only if the word is prefixed and will not take even empty space before*/
    background-color: red;
    color: white;
}

div[id$="sita"]{       /*selected if the given match exactly and selects even if there is space or hyphen*/
    background-color: red;
    color: white;
}

article[class*="len"]{       /*selected only if there is occurence of the given match exactly*/
    background-color: olivedrab;
}