@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Rubik+Doodle+Shadow&family=Sevillana&display=swap');
.car-mainblock{
    height: 650px;
    width: 1100px;
    border: 1px solid;
    margin: auto;
    margin-top: 40px;
    display: flex;
}
.car-mainblock .car-card{
    height: 600px;
    width: 334px;
    border: 2px solid green;
    margin-top: 20px;
}
.car-mainblock #sedan{
    margin-left: 50px;
}
.car-mainblock #sedan>div{
    display: flex;
}
.car-mainblock #sedan>div>.mod{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: orangered;
    margin-left: 62px;
    margin-top: 32px;
}
.car-mainblock #sedan>div>.icon{
    height: 31px;
    width: 45px;
    background-color: rgb(239, 211, 177);
    border-radius: 20px;
    margin-top: 48px;
    margin-left: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.car-mainblock #sedan>h1{
    font-size: 30px;
    padding-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-style: italic;
}