@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
body{
    margin: 0;
    padding: 0;
    background-color: #f3eae3;
}

.content{
    display: flex;
    height: 550px;
    width: 650px;
    /* border: 2px solid red; */
    margin-left: 430px;
    margin-top: 100px;
    
}

.content>.product-img>img{
    margin-top: 10px;
    width: 300px;
    height: 470px;
    border-radius: 6% 0% 0% 6%;
}

.content>.product-info>.info{
    width: 350px;
    height: 420px;
    margin-left: 20px;
    margin-top: 10px;
    /* border: 2px solid rebeccapurple; */
}
.content>.product-info{
    /* border: 2px solid red; */
    margin-top: 10px;
    width: 340px;
    height: 470px;
    background-color: aliceblue;
    border-radius: 0% 6% 6% 0%;
}

.product-info>.info>p,h5{
    color: #85858f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-info>.info>h5{
    letter-spacing: 5px;
    margin-top: 30px;
}

.product-info>.info>.price{
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
}
.product-info>.info>.price>del{
    color: #85858f;
}

.content>.product-info>.info button{
    color: white;
    background-color: #3d8168;
    border-radius: 10px;
    height: 60px;
    width: 288px;
    margin-left: 10px;
    font-size: 15px;
}

.content>.product-info>.info button:hover{
    cursor: pointer;
    scale: 1.1;
}

.product-info>.info>h2{
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 2px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.product-info>.info>.price>p{
    /* margin-left: -20px; */
    color: #3d8168;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}